POSTGRES_HOST=postgres
POSTGRES_PORT=5432
POSTGRES_DB=atividade5
POSTGRES_USER=atividade
POSTGRES_PASSWORD=atividade123

# OpenMetadata
OPENMETADATA_HOST=openmetadata-server
OPENMETADATA_PORT=8585
OPENMETADATA_API=api/v1
OPENMETADATA_USER=admin
OPENMETADATA_PASSWORD=admin

# Airflow
AIRFLOW_UID=50000
