pandas==2.3.2
psycopg2-binary==2.9.10
great_expectations==0.18.22
requests==2.32.3
openmetadata-ingestion[postgres]==1.6.6.6
openmetadata-managed-apis==1.6.6.6

# Dependências do keyring
keyring
jaraco.context
